<!-- Main -->
<main>
  <!-- Banner -->
  <div class="section position-relative"
       style="background-image: url(assets/image/dummy-img-1920x900.jpg); height: 70vh;">
    <div class="image-overlay"></div>
    <div class="r-container h-100 position-relative" style="z-index: 2;">
      <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center mx-auto text-center text-white gap-3"
           style="max-width: 895px;">
        <h1 class="font-1 m-0 text-white fw-semibold">About Us</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <!-- Section About Us -->
  <div class="section">
    <div class="r-container">
      <div class="row row-cols-lg-2 row-cols-1 align-items-center">
        <div class="col px-4">
          <div class="d-flex flex-column gap-4 pe-lg-3 border-bottom border-1 border-dark pb-5 align-items-center align-items-xl-start">
            <div class="linear-gradient">
              <span class="text-white">About Company</span>
            </div>
            <h3 class="font-1 fw-bold">Join Our Journey of Digital Discovery</h3>
            <p class="text-color-2">
              Our data-driven approach ensures that every decision is backed by
              insights, every
              campaign is optimized for maximum impact, and every result is measurable. We bring
              unparalleled expertise to every project we undertake.
            </p>

            <div class="d-flex flex-row gap-3">
              <a href="about.html" class="btn btn-accent px-5 py-3">Read More</a>
            </div>
          </div>
          <div class="d-flex flex-row py-3 justify-content-between justify-content-xl-between justify-content-md-around text-center">
            <div class="pb-3">
              <h2 class="font-1 fw-bold outline">10+</h2>
              <span>Years Experience</span>
            </div>
            <div class="pb-3">
              <h2 class="font-1 fw-bold outline">200+</h2>
              <span>Statisfied Customers</span>
            </div>

            <div class="pb-3">
              <h2 class="font-1 fw-bold outline">50+</h2>
              <span>Expert Team</span>
            </div>
          </div>
        </div>
        <div class="col ps-0 mt-5">
          <div class="col position-relative ps-lg-0 ps-0 mb-3">
            <div class="mb-5 px-5">
              <img src="/assets/image/dummy-img-600x600.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team -->
  <div class="section bg-accent">
    <div class="r-container">
      <div class="d-flex flex-column text-center align-items-center mx-auto gap-4 mb-4"
           style="max-width: 678px;">
        <div class="linear-gradient">
          <span class="text-white">Our Team</span>
        </div>
        <h3 class="fw-semibold">Meet Our Expert Team Members</h3>
        <p class="text-color-2">
          Our services are designed to maximize visibility, enhance brand recognition, and drive customer
          engagement.
        </p>
      </div>
      <div class="row row-cols-lg-3 row-cols-1 pb-3">
        <div class="col mb-3">
          <div class="position-relative">
            <img src="/assets/image/dummy-img-600x800.jpg" alt="image" class="img-fluid rounded-3 w-100">
            <div class="position-absolute start-0 w-100" style="bottom: 3rem;">
              <div class="w-75 bg-accent-6 rounded-end-4 text-white d-flex flex-column ps-5 py-4">
                <div class="mb-2">
                  <h5 class="m-0 font-1">David Smith</h5>
                  <span>Product Manager</span>
                </div>
                <div class="social-container team mb-lg-0 mb-3 gap-2">
                  <a href="https://www.facebook.com" class="social-item">
                    <i class="fa-brands fa-xs fa-facebook-f"></i>
                  </a>
                  <a href="https://www.twitter.com" class="social-item">
                    <i class="fa-brands fa-xs fa-twitter"></i>
                  </a>
                  <a href="https://www.instagram.com" class="social-item">
                    <i class="fa-brands fa-xs fa-instagram"></i>
                  </a>
                  <a href="https://www.youtube.com" class="social-item">
                    <i class="fa-brands fa-xs fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="position-relative">
            <img src="/assets/image/dummy-img-600x800.jpg" alt="image" class="img-fluid rounded-3 w-100">
            <div class="position-absolute start-0 w-100" style="bottom: 3rem;">
              <div class="w-75 bg-accent-6 rounded-end-4 text-white d-flex flex-column ps-5 py-4">
                <div class="mb-2">
                  <h5 class="m-0 font-1">Alicia Rodguez</h5>
                  <span>Content Manager</span>
                </div>
                <div class="social-container team mb-lg-0 mb-3 gap-2">
                  <a href="https://www.facebook.com" class="social-item">
                    <i class="fa-brands fa-xs fa-facebook-f"></i>
                  </a>
                  <a href="https://www.twitter.com" class="social-item">
                    <i class="fa-brands fa-xs fa-twitter"></i>
                  </a>
                  <a href="https://www.instagram.com" class="social-item">
                    <i class="fa-brands fa-xs fa-instagram"></i>
                  </a>
                  <a href="https://www.youtube.com" class="social-item">
                    <i class="fa-brands fa-xs fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="position-relative">
            <img src="/assets/image/dummy-img-600x800.jpg" alt="image" class="img-fluid rounded-3 w-100">
            <div class="position-absolute start-0 w-100" style="bottom: 3rem;">
              <div class="w-75 bg-accent-6 rounded-end-4 text-white d-flex flex-column ps-5 py-4">
                <div class="mb-2">
                  <h5 class="m-0 font-1">Emily Brown</h5>
                  <span>Project Manager</span>
                </div>
                <div class="social-container team mb-lg-0 mb-3 gap-2">
                  <a href="https://www.facebook.com" class="social-item">
                    <i class="fa-brands fa-xs fa-facebook-f"></i>
                  </a>
                  <a href="https://www.twitter.com" class="social-item">
                    <i class="fa-brands fa-xs fa-twitter"></i>
                  </a>
                  <a href="https://www.instagram.com" class="social-item">
                    <i class="fa-brands fa-xs fa-instagram"></i>
                  </a>
                  <a href="https://www.youtube.com" class="social-item">
                    <i class="fa-brands fa-xs fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="team.html" class="btn btn-accent px-5 py-3 rounded-pill">All Team</a>
      </div>
    </div>
  </div>

  <!-- Section Services -->
  <div class="section pt-0">
    <div class="r-container">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="row text-center">
          <div class="d-flex flex-column gap-4 pe-lg-3 pb-5 align-items-center">
            <h3 class="mt-5 font-1 fw-bold">What We Do at Gigatel Solutions</h3>
            <h4 class="text-color-2">
              At Gigatel Solutions, we specialize in fiber leasing services designed to provide seamless, high-speed, and reliable connectivity. Our extensive fiber network is built to support the growing demands of businesses, ISPs, and enterprises, ensuring uninterrupted data transmission and optimal performance.

              Whether you need a scalable solution for expanding your network or a reliable backbone for your operations, Gigatel Solutions offers tailored fiber leasing options to meet your unique requirements.

              🚀 Seamless Connectivity, Tailored Solutions! 🌐

              At Gigatel Solutions, we empower businesses with high-speed, reliable fiber leasing services, designed to keep you connected and ahead of the competition. Whether you’re an ISP, enterprise, or business looking to scale, our robust network ensures optimal performance and uninterrupted growth.

              🔗 Ready to elevate your operations with custom connectivity solutions? Let’s build the future together.

            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section CTA -->
  <div class="section position-relative bg-attach-fixed"
       style="background-image: url(assets/image/dummy-img-1920x900.jpg);">
    <div class="image-overlay"></div>
    <div class="r-container position-relative py-5" style="z-index: 2;">
      <div class="d-flex flex-column mx-auto text-center align-items-center text-white gap-4"
           style="max-width: 1000px;">
        <h3 class="font-1 text-white">
          Ready to Dominate the Digital Landscape? Start Your Journey Here
        </h3>
        <p class="col-9 col-lg-9">
          Don't let your competitors steal the spotlight. Take action now and unlock the full potential. Click here to schedule a consultation and kickstart your journey to digital success today!
        </p>
        <div>
          <a href="contact.html" class="btn btn-accent px-5 py-3">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Section Why Choose Us -->
  <div class="section">
    <div class="r-container">
      <div class="row row-cols-xl-2 row-cols-1 align-items-stretch">
        <div class="col col-xl-6 h-100 px-4">
          <div class="d-flex flex-column gap-3 pe-xl-5 text-center text-xl-start align-items-center align-items-xl-start">
            <h3 class="fw-bold">Our Mission</h3>
            <hr class="w-100" />
            <h4 class="text-color-2">
              Our mission is to create and maintain a robust digital backbone that supports the ever-growing demand for data and communication across diverse industries. With a strong commitment to innovation, scalability, and customer service, we provide flexible, high-capacity fiber solutions tailored to meet the unique needs of each client.
              <br />#FutureWithFibre
            </h4>
          </div>
        </div>
        <div class="col col-xl-6 h-100 px-4">
          <div class="d-flex flex-column gap-3 pe-xl-5 text-center text-xl-start align-items-center align-items-xl-start">
            <h3 class="fw-bold">Our Vision</h3>
            <hr class="w-100" />
            <h4 class="text-color-2">
              To be the most trusted and innovative partner in fiber infrastructure, empowering seamless connectivity and digital transformation for businesses and communities worldwide. We aim to lead the industry in building a future where reliable, high-speed connections drive economic growth, bridge digital divides, and enhance the quality of life for all. At Gigatel Group, our vision is a world where everyone has access to the limitless potential of digital connectivity.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Testimonials -->
  <div class="section bg-accent-6">
    <div class="r-container">
      <div class="d-flex justify-content-center">
        <div class="row row-cols-xl-2 row-cols-1 w-100 overflow-hidden rounded-4">
          <div class="col col-xl-6 d-flex align-items-center text-center text-xl-start bg-accent p-5">
            <div class="d-flex flex-column gap-3 mx-auto mb-4 align-items-center align-items-xl-start">
              <div class="linear-gradient">
                <span class="text-white">Testimonials</span>
              </div>

              <h3 class="fw-bold">What Our Clients Saying About Prodigy</h3>
              <p class="text-color-2">
                Here’s a testimonial from a satisfied client who embarked on a
                journey towards
                financial
                prosperity with the help of our esteemed Finance and Investment Consultant.
              </p>
              <hr>
              <div class="d-flex flex-row gap-5">
                <div class="d-flex flex-column gap-1">
                  <h3 class="fw-semibold">100%</h3>
                  <div class="flex-row">
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: var(--text-color-1);"></i>
                  </div>
                  <h4 class="text-color-2">Satisfied Clients</h4>
                </div>
                <div class="d-flex flex-column gap-1">
                  <h3 class="fw-semibold">4.9</h3>
                  <div class="flex-row">
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-xs fa-star" style="color: var(--text-color-1);"></i>
                  </div>
                  <h4 class="text-color-2">Average Rating</h4>
                </div>

              </div>
            </div>
          </div>
          <div class="col col-xl-6 col-12 d-flex align-items-center bg-accent-2"
               style="background-image: url(assets/image/BG1.png);">
            <div class="overflow-hidden">
              <div class="swiper swiperTestimonials">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="d-flex flex-column gap-3 p-5">
                      <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="customer-item">
                          <img src="/assets/image/dummy-img-400x400.jpg"
                               class="img-fluid border-light rounded-circle" alt=""
                               width="60">
                        </div>
                        <div class="d-flex flex-column">
                          <h5>Dianna Russel</h5>
                          <span style="font-size: 12px;">
                            Support
                            Manager
                          </span>
                        </div>
                      </div>
                      <span class="fst-italic" style="font-size: 24px;">
                        “Working with
                        Prodigy was an absolute pleasure. Their team transformed our
                        outdated website into a more modern and user-friendly platform.
                        The results speak "
                      </span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="d-flex flex-column gap-3 p-5">
                      <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="customer-item">
                          <img src="/assets/image/dummy-img-400x400.jpg"
                               class="img-fluid border-light rounded-circle" alt=""
                               width="60">
                        </div>
                        <div class="d-flex flex-column">
                          <h5>Mark Loan</h5>
                          <span style="font-size: 12px;">
                            Support
                            Manager
                          </span>
                        </div>
                      </div>
                      <span class="fst-italic" style="font-size: 24px;">
                        “Working with
                        Prodigy was an absolute pleasure. Their team transformed our
                        outdated website into a more modern and user-friendly platform.
                        The results speak "
                      </span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="d-flex flex-column gap-3 p-5">
                      <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="customer-item">
                          <img src="/assets/image/dummy-img-400x400.jpg"
                               class="img-fluid border-light rounded-circle" alt=""
                               width="60">
                        </div>
                        <div class="d-flex flex-column">
                          <h5>Daniel Won</h5>
                          <span style="font-size: 12px;">
                            Support
                            Manager
                          </span>
                        </div>
                      </div>
                      <span class="fst-italic" style="font-size: 24px;">
                        “Working with
                        Prodigy was an absolute pleasure. Their team transformed our
                        outdated website into a more modern and user-friendly platform.
                        The results speak "
                      </span>
                    </div>
                  </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination d-flex justify-content-start ps-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section Pricing Plan -->
  <div class="section">
    <div class="r-container">
      <div class="d-flex flex-column gap-4 mx-auto text-center align-items-center mb-4"
           style="max-width: 667px;">
        <div class="linear-gradient">
          <span class="text-white">Pricing Plan</span>
        </div>
        <h3 class="fw-bold">Discover Cost-Effective Marketing Solutions</h3>
        <p class="text-color-2">
          Our pricing plans are designed to empower your brand, drive growth, and maximize your return on
          investment.
        </p>
      </div>
      <div class="row row-cols-lg-3 row-cols-1">
        <div class="col mb-3">
          <div class="card card-outline-hover p-5">
            <div class="d-flex flex-column gap-3">
              <h4 class="text-color">Basic Plan</h4>
              <div class="d-flex flex-row align-items-end heading text-color mb-3">
                <h2 class="m-0 fw-semibold">$50</h2>
                <span class="fw-semibold">/Month</span>
              </div>
              <span class="text-color-2">
                Our team is carefully curated to ensure a diverse range of
                skills and experiences.
              </span>
              <ul class="list gap-3">
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color"></i>
                    Ideal for startups and small businesses
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color-4"></i>
                    Online Payments
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color-2"></i>
                    Affordable pricing for your marketing
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check text-color"></i>
                    Includes essential services
                  </div>
                </li>
              </ul>
              <div class="d-flex justify-content-center">
                <a href="" class="btn btn-accent px-5 py-3 w-100">Select Plan</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card card-outline-hover p-5">
            <div class="d-flex flex-column gap-3">
              <h4 class="text-color">Growth Plan</h4>
              <div class="d-flex flex-row align-items-end heading text-color mb-3">
                <h2 class="m-0 fw-semibold">$60</h2>
                <span class="fw-semibold">/Month</span>
              </div>
              <span class="text-color-2">
                Our team is carefully curated to ensure a diverse range of
                skills and experiences.
              </span>
              <ul class="list gap-3">
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color"></i>
                    Ideal for startups and small businesses
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color-4"></i>
                    Online Payments
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color-2"></i>
                    Affordable pricing for your marketing
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check text-color"></i>
                    Includes essential services
                  </div>
                </li>
              </ul>
              <div class="d-flex justify-content-center">
                <a href="" class="btn btn-accent px-5 py-3 w-100">Select Plan</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card card-outline-hover p-5">
            <div class="d-flex flex-column gap-3">
              <h4 class="text-color">Pro Plan</h4>
              <div class="d-flex flex-row align-items-end heading text-color mb-3">
                <h2 class="m-0 fw-semibold">$120</h2>
                <span class="fw-semibold">/Month</span>
              </div>
              <span class="text-color-2">
                Our team is carefully curated to ensure a diverse range of
                skills and experiences.
              </span>
              <ul class="list gap-3">
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color"></i>
                    Ideal for startups and small businesses
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color-4"></i>
                    Online Payments
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check accent-color-2"></i>
                    Affordable pricing for your marketing
                  </div>
                </li>
                <li class="justify-content-center">
                  <div class="d-flex flex-row gap-3 align-items-center text-color-2">
                    <i class="fa-solid fa-xl fa-circle-check text-color"></i>
                    Includes essential services
                  </div>
                </li>
              </ul>
              <div class="d-flex justify-content-center">
                <a href="" class="btn btn-accent px-5 py-3 w-100">Select Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

